[Unit]
Description=Node Exporter

[Service]
Type=simple
ExecStart=/home/tobscore/bin/node_exporter --collector.wifi --web.listen-address=":9100"

[Install]
WantedBy=multi-user.target
